<br/>
<div flex layout="row center" layout-align="center">
<md-button class="md-raised md-primary md-hue-2" aria-label="Connect with Facebook" ng-click="OauthButtons.loginOauth('facebook')">
    <ng-md-icon icon="facebook"></ng-md-icon> <span hide show-gt-sm>Connect with Facebook</span>
</md-button>
<md-button class="md-raised md-warn md-hue-2" aria-label="Connect with Google" ng-click="OauthButtons.loginOauth('google')">
    <ng-md-icon icon="google-plus"></ng-md-icon> <span hide show-gt-sm>Connect with Google</span>
</md-button>
<md-button class="md-raised md-primary" aria-label="Connect with Twitter" ng-click="OauthButtons.loginOauth('twitter')">
    <ng-md-icon icon="twitter"></ng-md-icon> <span hide show-gt-sm>Connect with Twitter</span>
</md-button>
</div>
